@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: 'Arab';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: local('ReemKufi-Regular.ttf'), url('./font/ReemKufi/ReemKufi-Regular.ttf');
    src: url('./font/ReemKufi/ReemKufi-Regular.ttf') format('ttf');
  }
}

@tailwind utilities;